body {
    background-color: #F9F6EE;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-color: #800020;
    color: #F9F6EE;
    min-height: 180px;
    width: 100% auto;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5rem;
}

.banner h1 {
    margin: 0;
    font-size: 3rem;
}

.banner p {
    font-size: 1.25rem;
}

#response-content {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: inherit;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #800020;
    color: #F9F6EE;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    left: 0;
    padding-top: 20px;
}

.sidebar button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 1000;
}

.sidebar button:hover {
    background-color: #550000;
    color: whitesmoke;
}

.sidebar button.active {
    background-color: #550000;
    color: whitesmoke;
}

div.content {
    /* Value should match sidebar's width */
    margin-left: 200px;
    padding: 1px 16px;
    height: 800px;
}

.tabcontent {
    display: none;
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

#circle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*  COLOUR REFERENCES
    Bone white: #F9F6EE 
    Burgundy:   #800020       
    Maroon:     #550000
*/